# Docker Environment Variables

# Define the ports of the services being used in docker-compose.yml
WEB_PORT=8000
WEB_PORT_2=8443
PHP_PORT=9000
MYSQL_PORT=3306


# Modules

# 1. WEB SERVER (APACHE, NGINX)
WEB_SERVER_DOCUMENT_ROOT=/var/www/html/
WEB_SERVER_NAME=localhost
WEB_SERVER_ALIAS=localhost


# 2. MySQL/MariaDB
MYSQL_DATABASE="${DB_DATABASE}"
MYSQL_USER="${DB_USERNAME}"
MYSQL_PASSWORD="${DB_PASSWORD}"


# 3. PHP
PHP_DATE_TIMEZONE=
PHP_ERROR_REPORTING=
PHP_XDEBUG_MODE=develop,debug
PHP_XDEBUG_CLIENT_HOST=host.docker.internal
PHP_XDEBUG_CLIENT_PORT=9003
PHP_XDEBUG_START_WITH_REQUEST=yes
PHP_XDEBUG_IDE_KEY=DOCKER_XDEBUG

# Xdebug v2
# PHP_XDEBUG_DEFAULT_ENABLE=1
# PHP_XDEBUG_REMOTE_AUTOSTART=1
# PHP_XDEBUG_REMOTE_HOST=127.0.0.1
# PHP_XDEBUG_REMOTE_PORT=9001
# PHP_XDEBUG_REMOTE_ENABLE=1
# PHP_XDEBUG_IDE_KEY=DOCKER_XDEBUG
# PHP_XDEBUG_PROFILER_ENABLE=1
# PHP_XDEBUG_PROFILER_OUTPUT_DIR=/usr/local/php/logs